language: node_js
node_js:
  - "node"
  - "6"
  - "4"
  - "0.12"
before_script:
  - npm install -g istanbul codecov
script: istanbul cover ./node_modules/mocha/bin/_mocha --report lcovonly -- -R spec && codecov
