# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Version

on:
  workflow_dispatch:
    inputs:
      versionType:
        description: Version type
        required: true

jobs:
  version:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 12
      uses: actions/setup-node@v2
      with:
        node-version: 12
        cache: 'npm'
    - run: npm ci
    - run: npm version ${{env.INPUT_VERSIONTYPE}}
